<div class = "container-fluid">
  <div class = "row content">
    <div class = "col-sm-3 sidenav">
      <div class = "profile-img img-responsive">
        <%= image_tag "profile.jpg" %>
       </div>
      <div class = "content">
        <h1>Leon Weiß</h1>
        <span clas = "lead">Marketing Consultant</span>
      </div>
      <div class = "about-text">
          <p>
          Credibly embrace visionary internal or
          "organic" sources and business benefits.
          Collaboratively integrate efficient
          portals rather than customized customer
          service. Assertively deliver frictionless
          services via leveraged interfaces.
          Conveniently evisculate accurate sources and
          process-centric expertise.
          </p>
          <p>
          Energistically fabricate customized 
          imperatives through cooperative catalysts
          for change.
          </p>
          <p>
            <%= image_tag "signature.png" %>
          </p>
      </div>
      <div class="template-demo"> <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i class="fa fa-facebook"></i></button> <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><i class="fa fa-youtube"></i></button> <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fa fa-twitter"></i></button> <button type="button" class="btn btn-social-icon btn-dribbble btn-rounded"><i class="fa fa-dribbble"></i></button> <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><i class="fa fa-linkedin"></i></button> <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i class="fa fa-instagram"></i></button> </div>
      
    </div>








  </div>
</div>
