@import "bootstrap";
.navbar{
    background-color: #f0f0f0;    
}
.lea {
   font-size: 18px;
   color: #3d3d50;
   margin-bottom: 20px;
   font-weight: 300;
   line-height: 1.4;
   font-size: 18px;
   padding-bottom: 20px;
}
.navbar {
    padding-left: 40px;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
}
.image-navbar {
    padding-bottom: 30px;
}
.nv {
    padding: 0px;
}
.wrap{
    padding: 50px;
    border-bottom: 1px solid #eaeaea;
}
.section-title h2 {
    margin-bottom: 5px;
    color: #bebece;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    margin: 0 0 15px;
}
h3 {
    color:#2b2b3d;
    margin: 0 0 15px;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}
h2{
    font-weight: 700;
    line-height: 1.8em;
    font-size: 18px;
}
.nk{
    margin-left:0px; 
    padding-left: 0px;
}
.bew {
    padding: 50px;
    border-bottom: 1px solid #eaeaea;
}
.text {
    margin-bottom: 5px;
    color: #bebece;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    margin: 0 0 15px;
}
.progress-bar {
    background-color: #ffbf00;
    height: 10px;
}
.progress { 
    height: 10px;
}
.progress-percent{
    color: #ffffff;
}
.section-wrapper{
    padding: 50px;
    border-bottom: 1px solid #eaeaea;

}

.section-wra {
    padding: 50px;
    border-bottom: 1px solid #eaeaea;

}


h4{
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    color: #2b2b3d;
}
.slio {
    background-color: #f0f0f0;
}