<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/index.css">
  </head>
  <body>
  <div class="row"> 
    <div class = "container">
     <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
      <div class="col-sm-12">
      <form action="/init" method="get">
        <div class="form-group alert alert-success">
        <h4 class="alert-heading">Welcome, guest!</h4>
        </div>
        <label for="name">Enter name: </label>
        <input type="text" name="name" class="form-control" placeholder="Enter name of pet...">
        <label for="name">Select image: </label>
      <div class="row">
       <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2a" name="image" value = "public/img/ket1.jpg">
            <label class="custom-control-label" for="ck2a">
                <img src="public/img/ket1.jpg" class="img-fluid fooe" alt="Responsive image">
            </label>
        </div>
       </div>
       <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2c" name="image" value = "public/img/ket2.jpg" >
            <label class="custom-control-label" for="ck2c">
                <img src="public/img/ket2.jpg" class="img-fluid fooe" alt="Responsive image">
            </label>
        </div>
       </div>
       <div class="col-md-4">
        <div class="custom-control custom-radio image-checkbox">
            <input type="radio" class="custom-control-input" id="ck2d" name="image" value = "public/img/dog2.jpg" >
            <label class="custom-control-label" for="ck2d">
                <img src="public/img/dog2.jpg" class="img-fluid fooe" alt="Responsive image">
            </label>
        </div>
       </div>
    </div>
      <br>
      <br>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
   
      </form>
      </div>
    </div>
    </div>
    </div>
  </div>
  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>